/* TODO: text selection color */

body {
  /* for grid container */
  --gap-size: 15px;
  --num-cols: 3;
  --num-cols-full-screen: 4;
  --row-height: 300px;
  --row-height-full-screen: 70vh;
  --animation-duration: 1s;
  --buttons-disappearance-duration: 2.5s;
  /* Current using colors. Additional theme is dark */
  --border-color: #272D2D;
}

@media (max-width: 800px) {

  .grid-container {
    --num-cols: 2;
    --row-height: 270px;
  }

  .grid-container--full-page {
    --row-height-full-screen: auto;
  }

}

@media (max-width: 1200px) {
  .grid-container--full-page {
    --num-cols-full-screen: 2;
    --row-height-full-screen: 40vh;
  }
}
