body {
  --hint-color: black;
  --text-color: black;
  --background-body-color: #F6FFF8; 
  --background-content-color: #F6FFF8; 
  --background-card-color: #eaf4f4;
  --background-footer-color: #CCE3DE; 
  --background-label-color: rgba(253, 253, 251, 0.8); 
  --rain-color: rgba(0, 119, 182, 0.5)
}
