body {
    background-color: #F1DBAA;
}

.grid-container {
    --gap-size: 15px;
    --num-cols: 4;
    --row-height: 500px;
    /* --radius: 60px; */
    box-sizing: border-box;
    padding: var(--gap-size);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap-size);
    margin: 20px;
}

.grid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    position: relative;
    /* border-radius: var(--radius); */
    overflow: hidden;
    border-style: solid;
    border-color: #272D2D;
}

.grid-section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.grid-section__label {
    position: absolute;
    background-color: white;
    padding: 10%;
    font-size: 40px;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}

.grid-section:hover .grid-section__label {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

.grid-section__two-column {
    grid-column: span 2;
}